{% extends 'HrisMessageBundle::layout.html.twig' %}

{% block fos_message_content %}

<h2>{% trans from 'FOSMessageBundle' %}messenger{% endtrans %}</h2>

{% include 'HrisMessageBundle:Message:threads_list.html.twig' with {'threads': threads} %}

{% endblock %}
