{% extends '::base.html.twig' %}

{% block right_content -%}
    <h1><small>Settings creation</small></h1>

    {{ form(form) }}

    <ul class="record_actions inline">
        <li>
            <a href="{{ path('settings') }}" class="btn">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
