{% extends '::base.html.twig' %}

{% block right_content -%}
    <h1><small>Settings</small></h1>

    <table class="record_properties dataTable table table-striped table-bordered table-hover">
        <tbody>
            <tr>
                <th>Email notification</th>
                <td>
                    {% if entity.emailNotification %}
                        True
                    {% else %}
                        False
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Sms notification</th>
                <td>
                    {% if entity.smsNotification %}
                    True
                    {% else %}
                    False
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Completeness alert</th>
                <td>
                    {% if entity.completenessAlert %}
                        True
                    {% else %}
                        False
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Qualitycheck alert</th>
                <td>
                    {% if entity.qualityCheckAlert %}
                        True
                    {% else %}
                        False
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Datecreated</th>
                <td>{{ entity.datecreated|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Lastupdated</th>
                <td>{{ entity.lastupdated|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>
    <ul class="record_actions inline">
        <li>
            <a href="{{ path('settings_new', { 'username': app.user }) }}" class="btn">
                Update
            </a>
        </li>
    </ul>
{% endblock %}
