{% extends '::base.html.twig' %}
{% block title %} {{ parent() }} - 500 Error Page {% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1><small>That page does not exist!</small></h1>
    <a href="{{ path('hris_dashboard_homepage') }}" class="btn">Back to home page</a>
    <br/>
    <div>
        <img src="{{ asset('img/404-error-page.jpg') }}" width="500" height="249">
    </div>
{% endblock content %}