/*
 * style.css
 * 
 * Copyright 2012 
 * Author: John Francis Mukulu <john.f.mukulu@gmail.com>
 * 
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 * 
 */
body {margin: 0;padding: 0;background-color: #f3f5f8;font-family: tahoma,sans-serif;font-size: 12px;}
p {margin-top: 0;line-height: 180%;}
#wrapper {margin: 0 auto;padding: 0;}
#banner {height: 120px;width: 100%;margin: 0 auto;padding: 0px 0px 0px 0px;background: #3B5998  repeat;border-bottom: 10px solid #37488A;}
#logo h1, #logo p {}
#logo h1,h2 {letter-spacing: -1px;font-family:"Times New Roman","Sans";font-size: 2em;color: #FFFFFF;text-align:center;}
#logo p {margin: 0;padding: 0px 0 0 62px;font: normal 14px Georgia, "Times New Roman", Times, serif;font-style: italic;color: #FFFFFF;} 
#logo a {border: none;background: none;text-decoration: none;color: #FFFFFF;}
#sidebar {float: left;margin: 0px;padding: 0px 20px 0px 0px;}
#hideSideBar {cursor: pointer;float:left;font-family: LiberationSansBold,arial;font-size: 9pt;line-height: 140%;clear:both;}
#page {width: 98%;margin: 0 auto;padding: 0px 0px;}
#content {float: right;width: 76%;padding: 0px 0px 0px 0px;}
#content #mainPage {width:730px;}
#footer {height: 50px;margin: 0 auto;padding: 0px 0px 15px 0px;background: #3b5998;border-top: 1px solid #1885B0;font-family: Arial, Helvetica, sans-serif;}
#footer p {margin: 0;padding-top: 20px;line-height: normal;font-size: 9px;text-transform: uppercase;text-align: center;color: #FFFFFF;}
#footer a {color: #FFFFFF;}
.info h1, #info h1, .errorNotice h1, #errorNotice h1,  .warning h1, #warning h1 ,  .success h1, #success h1, .validationNotice h1, #validationNotice h1 {font-size:12px;}
.info h2, #info h2 ,.errorNotice h2, #errorNotice h2, .warning h2, #warning h2, .success h2, #success h2, .validationNotice h2, #validationNotice h2{font-size:15px;color: #8A6A31;}
.info, #info {border: 1px solid;margin: 10px 0px;padding:15px 10px 15px 50px;background-repeat: no-repeat;background-position: 10px center;position:relative;color: #00529B;background-color: #BDE5F8;background-image: url('../images/info.png');}
.success, #success {border: 1px solid;margin: 10px 0px;padding:15px 10px 15px 50px;background-repeat: no-repeat;background-position: 10px center;position:relative;color: #4F8A10;background-color: #DFF2BF;background-image:url('../images/success.png');}
.warning, #warning {border: 1px solid;margin: 10px 0px;padding:15px 10px 15px 50px;background-repeat: no-repeat;background-position: 10px center;position:relative;color: #9F6000;background-color: #FEEFB3;background-image: url('../images/warning.png');}
.errorNotice , #errorNotice {border: 1px solid;margin: 10px 0px;padding:15px 10px 15px 50px;background-repeat: no-repeat;background-position: 10px center;position:relative;color: #D8000C;background-color: #FFBABA;background-image: url('../images/error.png');}
.validationNotice, #validationNotice {border: 1px solid;margin: 10px 0px;padding:15px 10px 15px 50px;background-repeat: no-repeat;background-position: 10px center;position:relative;color: #D8000C;font-size:5px;background-color: #FFBABA;background-image: url('../images/invalid.png');}