{% extends '::base.html.twig' %}

{% block right_content -%}
    <h1><small>Report Aggregation - Results</small></h1>


    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('bundles/obhighcharts/js/highcharts/highcharts.js') }}"></script>
        <script src="{{ asset('bundles/obhighcharts/js/highcharts/modules/exporting.js') }}"></script>
        <script type="text/javascript">
            {{ chart(chart) }}
        </script>
    {%  endblock %}
    <div id="chart_placeholder" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

{% endblock %}
