{% extends '::base.html.twig' %}

{% block right_content -%}
    <h1><small>Report Aggregation</small></h1>

    {{ form_start(aggregationForm, { 'action': '/design/', 'method' : 'PUT' } ) }}

    {{ form_widget( aggregationForm ) }}

    {{ form_end(aggregationForm) }}


{% endblock %}
