{% extends "::base.html.twig" %}

{% block right_content %}
<div class="form-signin">
    <div class="well">
        <h1><small>{{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}</small></h1>
        <a href="{{ path('fos_user_security_login') }}" class="btn">{{ 'resetting.to_login'|trans({}, 'FOSUserBundle') }}</a>
    </div>
</div>
{% endblock %}
