{% extends "HrisUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="form-signin">
    <div class="well">
        <h1><small>{{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}</small></h1>
    </div>
</div>
{% endblock %}
