{% extends "HrisUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="form-signin">
    <div class="well">
        <p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
        <a href="{{ path('fos_user_security_login') }}" class="btn">{{ 'resetting.to_login'|trans({}, 'FOSUserBundle') }}</a>
    </div>
</div>
{% endblock fos_user_content %}
