{% extends "HrisUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="form-signin">
    <div class="well">
        {% include "HrisUserBundle:Resetting:reset_content.html.twig" %}
    </div>
</div>
{% endblock fos_user_content %}
