{# ::navigationmenu.html.twig #}

<div class="accordion" id="accordion2">
     <div class="accordion-group">
       <div class="accordion-heading btn-primary">
         <a class="accordion-toggle text-white" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
           Form Management
         </a>
       </div>
       <div id="collapseOne" class="accordion-body in collapse" style="height: auto;">
         <div class="accordion-inner">
             <ul class="dropdown">
				<li><a href="">Fields</a></li>
				<li><a href="">Field Groups</a></li>
				<li><a href="">Forms</a></li>
			</ul>
         </div>
       </div>
     </div>
     <div class="accordion-group">
       <div class="accordion-heading btn-primary">
         <a class="accordion-toggle text-white" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
           Indicators
         </a>
       </div>
       <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
         <div class="accordion-inner">
             <ul class="dropdown dropdown">
				<li><a href="">Population Indicators</a></li>
				<li><a href="">M&and;E Indicators</a></li>
			</ul>
         </div>
       </div>
     </div>
     <div class="accordion-group">
       <div class="accordion-heading btn-primary">
         <a class="accordion-toggle text-white" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
           Organisation units
         </a>
       </div>
       <div id="collapseThree" class="accordion-body collapse" style="height: 0px;">
         <div class="accordion-inner">
             <ul class="dropdown">
				<li><a href="">Fields</a></li>
				<li><a href="">Field Groups</a></li>
				<li><a href="">Training Types</a></li>
				<li><a href="">Forms</a></li>
			</ul>
         </div>
       </div>
     </div>
 </div>