{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} {% trans from 'FOSMessageBundle' %}messenger{% endtrans %} {% endblock %}

{% block right_content -%}

    <div class="container">
        <h1><small>{% trans from 'FOSMessageBundle' %}Messenger{% endtrans %}</small></h1>

        <ul class="inline">
            <li><a href="{{ url('message_inbox') }}" class="btn">{% trans from 'FOSMessageBundle' %}inbox{% endtrans %}</a></li>
            <li><a href="{{ url('message_sent') }}" class="btn">{% trans from 'FOSMessageBundle' %}sent{% endtrans %}</a></li>
        </ul>

        {% block fos_message_content %}{% endblock %}
    </div>

{% endblock right_content %}