{% extends '::base.html.twig' %}
{% block right_content -%}
<div class="container">
    <h1><small>Update Forms</small></h1>

    <table class="records_list dataTable table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('record_new', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
                <td>
                <ul class="inline">
                    <li>
                        <a href="{{ path('record_new', { 'id': entity.id }) }}"><i class="icon-down-arrow icon-large" title="Show"></i></a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
