{% extends '::base.html.twig' %}

{% block right_content -%}
    <h1>New Record</h1>

    {{ form_start( form, { 'method' : 'PUT' } ) }}

    {% autoescape false %}
        {{ dump( entity.hypertext ) }}
    {% endautoescape %}

    <p>
        <button type="submit">Edit</button>
    </p>
    {{ form_end(form) }}

{% endblock %}
