{% extends '::base.html.twig' %}

{% block right_content -%}
    <h1>New Record</h1>



    {% autoescape false %}
        {{ dump( entity.hypertext ) }}
    {% endautoescape %}

    <p>
        <button type="submit">Edit</button>
    </p>


{% endblock %}
