{% extends '::base.html.twig' %}

{% block right_content -%}

    <h1>{{ entity.title | raw }}</h1>

    <form action="{{ path('record_list') }}" method="post">

        {{ entity.hypertext | raw}}

        <p>
            <button type="submit">Edit</button>
        </p>

    </form>

{% endblock %}
