{% extends '::base.html.twig' %}

{% block right_content -%}

    <h1>{{ variable['title'] | raw }}</h1>

    <form action="{{ path('record_list') }}" method="post">

        {{ variable['hypertext'] | raw}}

        <p>
            <button type="submit">Save</button>
        </p>

    </form>

{% endblock %}
