{# src/Hris/DashboardBundle/Resources/views/layout.html.twig #}
{% extends '::base.html.twig' %}


{% block title %} {{ parent() }} - Dashboard {% endblock %}

{% block right_content %}
    <!--Body content-->
    <h1>AUTO GENERATED MENU -WORK IN PROGRESS</h1>
    {{ knp_menu_render('user') }}
{% endblock right_content %}