{# src/Hris/DashboardBundle/Resources/views/layout.html.twig #}
{% extends '::base.html.twig' %}


{% block title %} {{ parent() }} - Dashboard {% endblock %}

{% block right_content %}
    <!--Body content-->
    <h1>Welcome!</h1>
{% endblock right_content %}