{% extends "HrisUserBundle::layout.html.twig" %}

{% block right_content %}
    <h1><small>{{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}</small></h1>
{% endblock right_content %}
