{# src/Hris/UDashboardBundle/Resources/views/Dashboard/dashboard.html.twig #}
{% extends "HrisDashboardBundle::layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/obhighcharts/js/highcharts/highcharts.js') }}"></script>
    <script src="{{ asset('bundles/obhighcharts/js/highcharts/modules/exporting.js') }}"></script>
    <script type="text/javascript">
        {{ chart(chart) }}
    </script>
{%  endblock %}
{% block right_content %}
    <h3>Welcome to Hrhis Dashboard!</h3>

    <div id="highchart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
{% endblock %}