{% extends '::base.html.twig' %}

{% block right_content -%}
    <h1><small>User creation</small></h1>

    <form action="{{ path('user_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit" class="btn">Create</button>
        </p>
    </form>

    <ul class="record_actions inline">
        <li>
            <a href="{{ path('user') }}" class="btn">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
