{% extends '::base.html.twig' %}

{% block right_content -%}
    <h1>RelationalFilter creation</h1>

    <form action="{{ path('relationalfilter_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('relationalfilter') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
