{# src/Hris/UserBundle/Resources/views/layout.html.twig #}
{#
   Copyright 2012 John Francis Mukulu <john.f.mukulu@gmail.com>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
#}

{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/hrisassets/css/login.css') }}" />
    {#{% stylesheets '@HrisUserBundle/Resources/public/login.css' filter='cssrewrite' output="css/login.css" %}#}
        {#<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />#}
    {#{% endstylesheets %}#}

{% endblock stylesheets %}

{% block title %}Human Resource Information System{% endblock %}
    {% block banner %}
        <div id="banner">
            {% block banner_logo %}
                <div id="logo">
                    <h1>Ministry of Health And Social Welfare(MoHSW)</h1>
                    <h2>Human Resource for Health Information System (HRHIS)</h2>
                </div>
            {% endblock banner_logo %}
        </div>
    {% endblock banner %}
		{% block content %}
			{{  block('fos_user_content') }}
		{% endblock content %}

		{% block footer %}
			<div class="container" id="footer">
			    <p>Copyright © 2010  Ministry of Health and Social welfare - Human resource for Health Information System</p>
            </div>
		{% endblock footer %}